<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dumpDicom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>dump_asc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>epicrec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>gMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libRecKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>mat2ko.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>mkgrid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>readDicom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>rec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>t2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test_meas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DD76F960486AA7600D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4105ED117193346003E8F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4194D8D1A25B4F500E2FDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4575FC411D32AAE00E1976E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B45DEA8611DC8AA80004A41B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4764B511448218800FC802D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B478810F12F15D81007DAE42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B480B2FB18A361D1002C1E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B484B6061DBF44D00031F997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B490A1C72518B22100020824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4937BCC16F07B380021A59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4943BCC171808AF0071C5C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4988BF61A381AF6004E7CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4B83DE219B98B170048376F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4C9807411EDCC9400E241EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4DD25631946F77300CE5C0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E54E5D1CABBB3500808153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E6DBB215DA3EAE003FF5C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
